<footer class="footer-div">
    <section>
        <a href="https://github.com/Hadryanns"><img src="/static/components/GitHub-Logo.png" height="50px" alt=""></a>
        <a href="https://www.linkedin.com/in/hadryan-cesar/"><img src="/static/components/Linkedin-Logo.png" height="50px" alt=""></a>
        <!-- <a href="https://www.instagram.com/hadryanns/"><img src="/static/components/Instagram-Logo.png" height="50px" alt=""></a> -->
    </section>

    <section>
        <span>© 2025, Hadryan César do Nascimento Santos - Todos os direitos reservados.</span>
    </section>
</footer>